<h1 class="display-4">Server settings</h1>
<p class="lead">This is where you can do things like change the server's API key, export/import the dictionary it uses, and set defaults for games.</p>
<hr>
<form   ref='uploadForm' 
        id='uploadForm' 
        action='./dictionaryUpload' 
        method='post' 
        encType="multipart/form-data">
    <div class="input-group mb-3">
        <a class="btn btn-primary" href="./dictionaryDownload" role="button">Download dictionary</a>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="uploadGroup">Dictionary upload</span>
        </div>
        <input id="dictInput" name="dictInput" type="file" class="file" data-show-preview="false">
    </div>
</form>
<form   ref='apiTokenForm'
        id='apiTokenForm'
        action='./apiToken'
        method='post'
        encType="multipart/form-data"
        autocomplete="off">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="uploadGroup">Api token</span>
        </div>
        <input id="apiToken" name="apiToken" type="text" value={{apiToken}}>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form> 